<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Download Propriedades Sicar</title>

    <link href="bootstrap.css" rel="stylesheet">
  </head>

  <body style="font-size:18px">
    <p>Olá <%= label %>,</p>
    <p>
      Segue abaixo o link para download das propriedades contidadas na tabela enviada:
    </p>
      <a href="<%= url %>">
        <button style="color: #fff; background-color: #3cc; height:60px; border-radius:0.5rem; border:transparent; font-size:18px ">Clique aqui para fazer o download</button>
      </a>
	</body>
</html>
