<div id="preloader" class="animate2">
	<div id='spinner'>
		<div class="sk-fading-circle">
		  <div class="sk-circle1 sk-circle"></div>
		  <div class="sk-circle2 sk-circle"></div>
		  <div class="sk-circle3 sk-circle"></div>
		  <div class="sk-circle4 sk-circle"></div>
		  <div class="sk-circle5 sk-circle"></div>
		  <div class="sk-circle6 sk-circle"></div>
		  <div class="sk-circle7 sk-circle"></div>
		  <div class="sk-circle8 sk-circle"></div>
		  <div class="sk-circle9 sk-circle"></div>
		  <div class="sk-circle10 sk-circle"></div>
		  <div class="sk-circle11 sk-circle"></div>
		  <div class="sk-circle12 sk-circle"></div>
		</div>
	</div>
</div>

<div id="tooltip">
	<span id="tooltip_lb">
		<div id="tooltip_city"></div>
		<div id="tooltip_val"></div>
	</span>
</div>

<div id="top_bar" class='animate2 shadow_b'>
	<div id='logo_rsa_top'></div>
	<div id='logos_top'>
		<div class='logo_top' id='logo_wwf'></div>
		<div class='logo_top' id='logo_lapig'></div>
	</div>
</div>

<div id='container' class='animate2'>

	<div id="data_container" class="animate2">
		<div id="data_bt" class='animate1'>
			<div class='arrow icon15 animate1 icon-left'></div>
		</div>

		<div id="filter_bts">
			<div id="indicators_bt" class='list_bt animate2'>
				<span id='indicators_bt_lb1' class='lb1 animate1 lg_indicators'></span>
				<span id='indicators_bt_lb2' class='lb2 animate1'></span>
				<div class='arrow animate1 icon15 icon-down'></div>
			</div>
			<div class='list_bt animate1' id="clear_filters">
				<div class="animate1 icon icon15 icon-trash"></div>
				<label class='lg_clear_filters'></label>
			</div>
			<div id="areas_bt" class='list_bt animate2'>
				<span id='areas_bt_lb1' class='lb1 animate1 lg_area'></span>
				<span id='areas_bt_lb2' class='lb2 animate1'></span>
				<div class='arrow animate1 icon15 icon-down'></div>
			</div>
		</div>

		<div id='category_filter' class="floating_container animate2">
			<div class="floating_list list_container show animate2">
				<ul id="category_filter_ul" class="floating_list list_content "> </ul>
			</div>
		</div>

		<div id='area_filters' class="floating_container animate2">
			<div id='area_main_list' class="floating_list list_container show animate2">
				<ul id="area_main_ul" class="floating_list list_content "></ul>
			</div>
		</div>

		<div id="indicators" class="list_container show ">
			<ul id="indicators_list" class="list_content show"></ul>
		</div>

		<div id="report_container" class="animate2">
			<div id="report_bt" class='list_bt animate1'>
				<div class='arrow animate1 icon15 icon-up'></div>
				<span id='report_bt_label' class='lg_generate_report' ></span>
				<div id="report_bt_icon">
					<div id='report_bt_counter' class="counter animate1">7</div>
					<div class='icon35 icon animate1 icon-report'></div>
				</div>
			</div>
			<div id="clear_report" class="animate1">
				<div class='icon25 icon animate1 bt_icon icon-trash'></div>
				<span class='bt_label lg_clear'></span>
			</div>
			<div id="report_content" >
				<div class='header'>
					<div id='report_category' class='title'></div>
					<div id='report_area'></div>
				</div>
				<ul id='report_ul'></ul>

			</div>
			<div id="download_report" class="animate1">
				<div id='download_report_icon' class='icon25 icon animate1 icon-download'></div>
				<label class='lg_download_report'></label>
			</div>
		</div>
	</div>

	<div id="map_container" class="animate2">
		<div id='map_controls'>
			<div id='map_type' class='animate1'>
				<ul id='map_type_ul'></ul>
			</div>
			<div class='zoom_bt animate1' id='zoom_in'>+</div>
			<div class='zoom_bt animate1' id='zoom_out'>&minus;</div>
		</div>
		<div id='map'></div>
	</div>
</div>